*{
    margin:0;
    padding:0;
    border:0;
}

.p-100{
    padding: 100%;
}

.container {
    display: flex;
    margin: 0%;
}

.tmfoto {
    margin: 0%;
    padding: 15px;
    max-width: 100%;
    width: 365px;
    right: 365px;
    object-fit: cover;
    object-position: bottom right;
}
